{% extends "layout.njk" %}

{% block head %} 
  <title>Index</title>

{% endblock %}
    
    
    {%block content%}

        <div id="wrapper">
            <img src="{{index.image_logo}}" alt="logo da {{index.name}}">
            <h1><a href="{{index.link_name}}" target="_blank">{{index.name}}</a> </h1>
            <p>{{index.description}}</p>
            <h2>{{index.description_techs}}</h2>
            <ul>
                {%for techs in index.techs%}
                <li>{{techs.name}}</li>
                {%endfor%}
        </div>
        {%endblock content%}
