{% extends "layout.njk" %}

      {%  block head %}
      <title>ERRO</title>
      {% endblock  %}

      {%block content%}

    <div id="wrapper">
      <img src="https://image.freepik.com/vetores-gratis/glitch-error-404-page-background_23-2148072533.jpg" alt="404">
      
    </div>
   

    </div>
  {% endblock %}