{% extends "layout.njk"%}

{% block head%} {%endblock%}

    {%block content%}

        <div id="wrapper">
            <img src="{{sobre.image_logo}}" alt="logo da {{sobre.name}}">
            <h1><a href="{{sobre.link_name}}" target="_blank">{{sobre.name}}</a> </h1>
            <p>{{sobre.incio}}</p>
            <h2>{{sobre.description}}</h2>
            <ul>
                {%for cursos in sobre.cursos%}
                <li>{{cursos.name}}</li>
                {%endfor%}
            </ul>
        </div>
    {%endblock%}

