{% extends "layout.njk" %}

    {% block head %} {% endblock %}
    
{% block content %}

    <section class="cards">
        
        <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida/">
            <div class="card_image-container">
                <img src="https://blog.rocketseat.com.br/content/images/2019/03/5_ferramentas_em_alta_para_desenvolvedores_React.png" alt="5 ferramentas em alta para desenvolvedores React">
            </div>
            <div class="card_info">
                <p class="card_titulo">5 ferramentas em alta para desenvolvedores React</p>
                <p class="card_autor">por Diego Fernandes</p>
                <p class="card_tempo">3 min de leitura</p>
            </div>
        </div>
        <div class="card" id="como-renomear-varios-arquivos-de-uma-vez-usando-o-termina/">
            <div class="card_image-container">
                <img src="https://blog.rocketseat.com.br/content/images/2020/11/thumb-como-renomear-varios-arquivos-de-uma-vez-usando-o-terminal.jpg" alt="Como renomear vários arquivos de uma vez usando o terminal">
            </div>
            <div class="card_info">
                <p class="card_titulo">Como renomear vários arquivos de uma vez usando o terminal</p>
                <p class="card_autor">por Thiago Marinho</p>
                <p class="card_tempo">2 min de leitura</p>
            </div>
        </div>
        <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida">
            <div class="card_image-container">
                <img src="https://blog.rocketseat.com.br/content/images/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg" alt="Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida">
            </div>
            <div class="card_info">
                <p class="card_titulo">Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida</p>
                <p class="card_autor">por Thiago Marinho</p>
                <p class="card_tempo">3 min de leitura</p>
            </div>
        </div>
            
        </section>

        <div class="modal_overlay">
            <div class="modal">
                <a class="close-modal">
                    <i class="material-icons">close</i>
                </a>
                <a class="maximize-modal">
                    <i class="material-icons">fullscreen</i>
                </a>

                <div class="modal-content">
                    <iframe src="https://blog.rocketseat.com.br/" frameboder="0"></iframe>

                </div>

            </div>
        </div>
        <div id="links-footer" class="links">
            <a href="https://github.com/Rocketseat/" target="_blank">Github</a>
            <a href="https://www.linkedin.com/school/rocketseat/" target="_blank">Linkedin</a>
            <a href="instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>

        </div>

    </header>
    <script src="scripts.js"></script>



{% endblock %}

